# Klasifikasi Bunga Iris (Model Random Forest)

Kelompok NiaPy 1
1. Bagas Sukmawanto
2. Zulkifli
3. Melinda Indriyani
4. Yusril Subhanadi

## Modules dan Packages

In [63]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.model_selection import train_test_split
import joblib

## Import Data

In [64]:
df = pd.read_csv("iris.csv")
df.drop('Id', axis=1, inplace=True)

## Exploratory Data Analysis (EDA)

In [65]:
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [66]:
df['Species'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [67]:
df.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

## Training Model

In [68]:
X = df.iloc[:, :-1]
y = df.iloc[:, -1]

In [69]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [70]:
model = RandomForestClassifier(criterion="entropy")
model = model.fit(X_train, y_train)

## Evaluasi Model

In [71]:
accuracy_train = model.score(X_train, y_train)
accuracy_test  = model.score(X_test, y_test)

In [72]:
print(f"Akurasi Model (Train) : {np.round(accuracy_train * 100,2)} %")
print(f"Akurasi Model (Test)  : {np.round(accuracy_test * 100,2)} %")

Akurasi Model (Train) : 100.0 %
Akurasi Model (Test)  : 96.67 %

## Menyimpan Model

In [79]:
joblib.dump((model), "model_iris_rf.model")

['model_iris_rf.model']

## Prediksi

In [76]:
df_test = pd.DataFrame(data={
    "SepalLengthCm" : [5.1],
    "SepalWidthCm"  : [3.5],
    "PetalLengthCm" : [1.4],
    "PetalWidthCm"  : [0.2]
})

df_test[0:1]

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2

In [77]:
pred_test = model.predict(df_test[0:1])
pred_test[0]

'Iris-setosa'